<article>
    <h1>Product</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae ab dicta labore modi harum quibusdam sed
        quia, debitis rerum eius eaque fugiat corrupti non unde cupiditate ipsum quos voluptas praesentium.</p>
</article>